<section class="hero is-link">
  <div class="hero-body">
    <% if user_signed_in? %>
      <%= link_to "Log Out", destroy_user_session_path, class: "button is-danger is-pulled-right back-button"%>
      <%= link_to "Back", home_path, class:"button is-warning is-pulled-right back-button" %>
      <%= link_to "Public Events", public_events_path, class: "button is-success is-pulled-right back-button"%>
      <%= link_to "Add Event", new_event_path, class:"button is-success is-pulled-right" %>
    <%end%>
    <h1 class="title">
      BrightCoders Events 
    </h1>
  </div>
</section>

<div class="card-columns">
  <% @events.each do |event| %>
    <div class="card">
     <header class="card-header">
        <p class="card-header-title">
          <%= event.title %>
        </p>
      </header>

      <div class="card-content">
        <%= image_tag event.image, class: "event-image" unless event.image.blank? %>

        <div class="content">
          <p class="content-tag">Description:</p>  
          <%= event.description %>
          
          <p class="content-tag">Initial Date:</p>
          <%= event.init_date %>

          <p class="content-tag">Cost:</p>
          <%= event.cost %>

          <p class="content-tag">Location:</p>
          <%= event.location %>
        </div>
      </div>
      <footer class="card-footer">
         <%= link_to "edit", edit_event_path(event.id), class:"card-footer-item" %>
         <%= link_to "delete", delete_path(event.id), class:"card-footer-item" %>
      </footer>
    </div>
  <% end %>
</div>


