<section class="hero is-link">
  <div class="hero-body">
    <%= link_to "back", home_path, class:"button is-success is-pulled-right back-button" %>
    <button class="button is-success is-pulled-right">Add Event</button>
    <h1 class="title">
      BrightCoders Events 
    </h1>
  </div>
</section>
<section></section>
</section>
<br>
<div class="card-columns">
  <% @events.each do |event| %>
    <div class="card">
     <header class="card-header">
        <p class="card-header-title">
          <%= event.title %>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <p>Description:
              <br>
             <%= event.description %>
          </p>
          <p>Initial Date:
            <br>
            <%= event.init_date %>
          </p>
          <p>Cost:
            <br>
            <%= event.cost %>
          </p>
          <p>Location:
             <br>
             <%= event.location %>
          </P>
        </div>
      </div>
      <footer class="card-footer">
         <a href="#" class="card-footer-item">Edit</a>
         <a href="<%= delete_event_path(event.id) %>" class="card-footer-item">Delete</a>
      </footer>
    </div>
  <% end %>
</div>


